{% extends 'twitter/layout.html' %}
{% load static %}
{% load humanize %}
{% block content %}

    <div id="main" class="container-fluid d-flex">
        <!-- Center -->
        
        <div class="content pt-3">
            <div class="jumbotron" style="background:white">
               
                <div>
                    <div class="container px-3 py-1" id="icon-grid">
                        <h4 class="pb-2 border-bottom">Brotes de Crecimiento</h4>
                        <div class="card" >
                          <img class="card-img-top" src="{% static 'img/brotes.jpg' %}" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">3 Brotes comunes</h5>
                            <p class="card-text">Hay tres momentos en la vida de un bebé que suelen presentarse brotes de crecimiento bien caracterizados:</p>
                            <p>15 a 20 días de edad: durante la tercera semana de vida los bebés empiezan a demandar más tiempo en el pecho o más tomas al día. Esto, que es para aumentar la producción de leche (demanda-oferta), hace creer a la madre que su leche no es suficiente para satisfacer las necesidades de su bebé, con el riesgo de destetar si se introducen sucedáneos de leche materna.</p>
                            <p>Este brote dura entre 2 a 3 días, y suele ser muy cansador para la madre. Debemos quedarnos tranquilas si el bebé tiene deposiciones normales y ha recuperado sin problemas el peso de nacimiento entre los 10 y 15 días: esto quiere decir que todo va bien.</p>
                            <p>6 a 7 semanas de edad: ya al mes y medio llevamos un buen tiempo amamantando y cuando creemos que llegó la calma, nuestro bebé puede empezar a rechazar el pecho: se aleja, no quiere tomar. Esto sucede ya que hay un cambio repentino y transitorio del sabor de la leche a uno más salado, lo que a algunos bebés no les agrada. Este brote dura aproximadamente 1 semana.</p>
                            <p>3 meses de edad: este es el brote más reconocido por las madres, y el más largo (aproximadamente 1 mes de duración). Los bebés a los 3 meses se tornan eficientes para extraer la leche por lo que están menos tiempo al pecho de las madres, lo que genera en ellas una errada sensación de que 'tienen poca leche'. Esto se suma a que sienten los pechos flácidos, aumentando su preocupación. Además, los bebés se empiezan a distraer con facilidad por lo que toman leche y rápidamente se sueltan.</p>
                            <p>Junto a esta maduración en el bebé que lo hace ser un 'experto en succionar', está el hecho de que el pecho deja de almacenar la leche y empieza a producirla en el momento de la succión (por eso los pechos ya no se sienten llenos).</p>
                            <button class="btn btn-primary">Go somewhere</button>
                          </div>
                        </div>
                          
                         
                        </div>
                        <div class="one-half first ex1">Example<br />One</div>
                      <div style="clear: both;"></div>
                      </div>
                      
                </div>

               
              </div>
            {% comment %} <div id="inputTweetArea" class="tweet-wrap">
                <div class="d-flex">
                     <div class="col-xs">
                        
                        <img src="{{ request.user.profile.image.url }}" alt="" class="avator">
                        
                    </div>

                  
                    <form class="col pr-0" method="post">
                        {% csrf_token %}
                        {{ form.content }}
                        <div class="container d-flex" style="padding: 1rem 0 0 0;">
                            <div id="leftBtn">
                                <div id="charBadge" class="badge badge-pill badge-primary ml-2"
                                    style="display: flex;align-items: center;width: 50%;justify-content: center;">
                                    <div id="charCountArea">140</div>
                                </div>
                            </div>

                            <div id="rightBtn">
                                <button class="btn rounded-pill"
                                    style="width: 100%;">Tweet</button>
                            </div>
                        </div>
                    </form> 
                   

                </div>
                
            </div> {% endcomment %}
<!-- 
            
            {% if request.user.is_authenticated %}
            <div class="alert alert-primary" role="alert">
                {{request.user.username}}
              </div>
            {% endif %}
            {% for post in posts %}
            <div id="tweetCards">
                
                <div class="tweet-wrap" style="border-radius:20px">
                    <div class="tweet-header">
                        <img src="{{ post.user.profile.image.url }}"
                            alt="" class="avator">
                        <div class="tweet-header-info">
                            <a href="{% url 'profile' post.user %}">
                            {{ post.user.first_name }} 
                            </a>
                            <span>@{{ post.user }}</span><span>{{ post.timestamp|naturaltime }}
                            </span>
                            <p>{{ post.content }}</p>
                        </div>
                    </div>
                    <div class="tweet-info-counts">     
                        {% if request.user == post.user %}
                        <div class="trash">
                            <a href="{% url 'delete' post.id %}" style="background: white; border: none;">
                                <i class="fa fa-trash-o" style="color:#657786; font-size: 20px" aria-hidden="true"></i>
                            </a>
                        </div>
                        {% endif %}
                        
                    </div>
                </div>
             
            </div>
            {% endfor %}
          
        </div>
    -->
    </div>
{% endblock content %}