{% extends 'twitter/layout.html' %}
{% load humanize %}
{% block content %}
    <div id="main" class="container-fluid d-flex">
        <!-- Barra Izquierda -->
        
        <!-- End Barra Izquierda -->

        <!-- Center -->
        <div class="content">
            <div class="sidebar mt-3 mb-3 ml-5 d-md-block">
                <div class="">
                    {% comment %} <div class="card ">
                        <img class="card-img-top rounded-circle"
                            style="width:30%;"
                            src="{{ user.profile.image.url }}" alt="Card image cap">
                        <div class="card-body">
                            <h5>Bienvenido</h5>
                            <h6 class="card-title font-weight-bold">{{ user.first_name }}</h6>
                            <h6 class="card-title font-weight-bold">@{{ user }}</h6> 
                            
    
                             <p class="card-text">{{ user.profile.bio }}</p>
                            <h6 class="card-title font-weight-bold">
                            {{ user.profile.followers.count }} Followers   
                            {{ user.profile.following.count }} Following
                            </h6>
                            {% if request.user.is_authenticated %}
                                {% if user.username != request.user.username %}
                                    {% if user not in request.user.profile.following %}
                                    <a href="{% url 'follow' user %}" class="btn  text-white rounded-pill">Seguir</a>
                                    {% else %}
                                    <a href="{% url 'unfollow' user %}" class="btn  text-white rounded-pill">Dejar de seguir</a>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            <a href="{% url 'editar' %}" id="addATweetLeft" onclick="addTweet()" type="button"
                                style="border-radius: 30px; font-size: 1rem; font-weight:bold;"
                                class="btn btn-lg btn-block mt-2 text-white ">Editar perfil</a>
                            
                        </div>
    
                    </div> {% endcomment %}
                    
                </div>
            </div>


            <!-- Tweets -->

            <div class="fs-2 mb-3">

            <h4>Listado de pacientes</h4>
              </div>
                <hr class="solid">
              
            {% for hijo in hijos %}
            <div id="tweetCards">
                <!-- FOR LOOP HERE -->
                <div class="tweet-wrap p-3 mt-2 mb-4" style="border-radius:20px">
                    <div class="card" >
                        <img class="card-img-top" src="{{ hijo.profile_pic.url }}" alt="Card image cap">
                        <div class="card-body p-2">
                          <div class="container p-1">
                            <div class="row {% if hijo.tipo == 'Niño' %} bgnino {% else %} bgnina {% endif %} ">
                                <div class="col" style="width: .5rem;">
                                   Nombre: <h5>{{hijo.nombre}}</h5> 
                                </div>
                                <div class="col">
                                    Sexo: <h5>{{hijo.tipo}}</h5>
                                </div>
                            </div>
                            <hr class="my-4">
                            <div class="row">
                                <div class="col" style="width: .5rem;">
                                    <span class="badge badge-secondary">Fecha nac.:</span> {{hijo.fecha_nac}}
                                </div>
                                <div class="col">
                                    <span class="badge badge-secondary">Edad:</span> {{hijo.fecha_nac}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col" style="width: .5rem;">
                                    <span class="badge badge-secondary">Lugar nac.:</span> {{hijo.lugar_nac}}
                                </div>
                                <div class="col">
                                    <span class="badge badge-secondary">Tipo de nac:</span> {{hijo.tipo_nac}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col" style="width: .5rem;">
                                    <span class="badge badge-secondary">Talla:</span> {{hijo.talla_nac}}
                                </div>
                                <div class="col">
                                    <span class="badge badge-secondary">Peso:</span> {{hijo.peso_nac}}
                                </div>
                            </div>
                          </div>
                          <hr class="my-4">
                        </div>
                        <a href="{% url 'consulta' hijo.id %}">
                            <button type="button" class="btn btn-success">Ir a Seguimiento de consultas</button>
                        </a>
                        
                      </div>
                   
                    <div class="tweet-info-counts">

                    </div>
                </div>
                <!-- FOR LOOP HERE -->

            </div>
            {% endfor %}
            <!-- EndTweets -->


        </div>
        <!-- End Center -->


        
    </div>

{% endblock content %}